/* theme check */
label.ant-checkbox-wrapper {
    margin-left: 22px; 
    margin-right: 15px;
    margin-top: 15px;

}
span.ant-tag.ant-tag-has-color {
    background: linear-gradient(90deg, #0E3047 0%, #10828C 100%);
}

#type.ant-btn.ant-btn-lg {
    width: 100%;
    border-radius: 0;
    padding-left: 100px; 
    padding-right: 100px;
    margin-top: 25px;
     
}

/* #type.ant-btn:hover, .ant-btn:focus, .ant-btn:active, .ant-btn.active {
    background: linear-gradient(90deg, #FB3640 0%, #F97300 100%) !important;
    color: white !important;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 0px 5px 5px 0px;
} */

.type-btn.ant-btn:hover,
.type-btn.ant-btn:focus,
.type-btn.ant-btn:active,
.type-btn.ant-btn.active {
    width: 100%;
    background: linear-gradient(90deg, #FB3640 0%, #F97300 100%) !important;
    color: white !important;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 0px 5px 5px 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.sort-btn.ant-btn:hover,
.sort-btn.ant-btn:focus,
.sort-btn.ant-btn:active,
.sort-btn.ant-btn.active {
    width: 100%;
   
    border: 1px solid #C4C4C4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    background: white !important;
    color: #F97300 !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

#sort.ant-btn.ant-btn-lg {
    width: 100%;
    border-radius: 0;
    background: rgba(255, 224, 198, 0.5);
    border: rgba(255, 224, 198, 0.5);
}

/* #sort.ant-btn:hover, .ant-btn:focus, .ant-btn:active, .ant-btn.active {
    background: white !important;
    color: #F97300 !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
} */

#fav.ant-btn:hover, .ant-btn:focus, .ant-btn:active, .ant-btn.active {
    background: white;
    color: #F97300;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
