img#icon-google {
    width: 36px;
    height: 36px;
    left: 576px;
    top: 676px;
}

#login-google.ant-btn {
    width: 322px;
    height: 48px;
    left: 559px;
/* top: 738px; */

    border: 1px solid #FF3E30;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color:  #FF3E30;
}

#login-google.ant-btn:hover, 
#login-google.ant-btn:focus, 
#login-google.ant-btn:active, 
#login-google.ant-btn.active {
    width: 322px;
    height: 48px;
    left: 559px;
/* top: 738px; */

    background:  #FF3E30 !important;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
}
