#background-login{
    /* background: burlywood; */

}


#input-email {
    width: 398px;
    height: 48px;
/* top: 317px; */
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    border-radius: 5px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.15);
}

.ant-input-password.ant-input-affix-wrapper {
    width: 398px;
    height: 48px;
    left: 521px;
/* top: 317px; */
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    border-radius: 5px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.15);
}

#sign-in.ant-btn {
    left: 510px;
    width: 67px;
    height: 27px;
    background: transparent !important;
    color: #10828C;
    /* width: 100%; */
    border: transparent;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
}

#sign-in.ant-btn:hover, 
#sign-in.ant-btn:focus, 
#sign-in.ant-btn:active, 
#sign-in.ant-btn.active {
    width: 67px;
    height: 27px;
    left: 510px;
    background: transparent !important;
    color: rgba(78, 78, 78, 0.5);
    /* width: 100%; */
    border: transparent;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
}

.ant-checkbox-checked .ant-checkbox-inner {
    background: #10828C !important;
    color: #10828C;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner, 
.ant-checkbox:hover .ant-checkbox-inner, 
.ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color:#10828C;
}

h1#welcome-login {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color: #0E3047;
}
#label-remember {
    color: #10828C;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    font-family: Poppins;
}

#form-forgot {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-decoration-line: underline;
    color: #10828C;
}
