.bg {
  width: 100%;
  text-align: center;
  background-image: url('../images/login-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;   
}

.form-box {
  display: inline-block;
  margin: 120px auto;
  border-radius: 5px;
  background: white;
  width: 502px;
  height: 646px;
  padding: 35px 30px;
}

.form-header {
  font-weight: 600;
  font-size: 26px;
  color: #0E3047;
  text-align: left;
}

#devider-hr {
  color: rgba(196, 196, 196, 0.5);
  background-color: rgba(196, 196, 196, 0.5);
  height: 1px;
  border: 0.5px;
}

.form-content {
  padding: 25px 20px;
}

.login-form input.ant-input {
  height: 46px;
}

.login-form .ant-input-affix-wrapper .ant-input:not(:first-child) {
  padding-left: 50px;
}

.login-form .ant-input-affix-wrapper .ant-input-prefix {
  left: 20px
}

#remember-col div.ant-row.ant-form-item {
  text-align: left;
  margin-bottom: 0px;
}

#forget-col {
  text-align: right;
  text-decoration: underline;
}

#remember-col div.ant-row.ant-form-item span,
#forget-col a {
  color: #10828C;
}

.ant-checkbox-checked .ant-checkbox-inner, span.ant-checkbox-inner::after {
  background-color: #10828C; 
}

.ant-checkbox-checked::after {
  border: 1px solid #10828C;
}

.login-form-button, .login-form-button:hover, .login-form-button:active {
  border-color: transparent;
  color: #10828C;
  padding: 0;
}

button.ant-btn.login-form-button:disabled {
  border-color: transparent;
  background-color: white;
}

.login-form-button span {
  font-weight: bold;
  font-size: 18px;}

.form-submit .ant-form-item-control {
  text-align: left;
}

#register-link {
  font-weight: 300;
  color: rgba(78, 78, 78, 0.5);
}

a#link-register {
  margin-left: 10px;
  font-weight: 600;
  color: #10828C;
}