#login-facebook.ant-btn {
    width: 322px;
    height: 48px;
    left: 529px;
/* top: 670px; */

    border: 1px solid #2B5998;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #2B5998;
}

#login-facebook.ant-btn:hover, 
#login-facebook.ant-btn:focus, 
#login-facebook.ant-btn:active, 
#login-facebook.ant-btn.active {
    width: 322px;
    height: 48px;
    left: 529px;
/* top: 670px; */

    background: #2B5998 !important;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
}
