.header-container .logo {
  padding-left: 15px;
  border-color: white !important;
  font-weight: bold;
  font-size: 16px;
  text-align: left;
}

.header-container .logo a {
  color: white !important;
  font-weight: bold;
  font-size: 16px;
}


.header-container .logo img {
  max-width: 30px;
  max-height: 30px;
}

.header-container .ant-menu-item a, .ant-menu-submenu-title span {
  color: white;
  font-weight: 300;
  font-size: 14px;
}

.header-container .ant-menu {
  text-align: right;
  background: transparent;
}

.ant-menu-horizontal {
  line-height: 64px;
}

.ant-menu-submenu li a {
  font-family: 'Poppins', sans-serif;
}

.ant-menu-horizontal > .ant-menu-item:hover,
.ant-menu-horizontal > .ant-menu-item-selected {
  color: #F97300;
  border-bottom: 2px solid #F97300;
}

.ant-menu-submenu:hover > a,
.ant-menu-horizontal > .ant-menu-item-selected > a {
  font-weight: 500;
  color: #F97300 !important;
}
/* .ant-menu-horizontal > .ant-menu-item-selected a, 
.ant-menu-horizontal > .ant-menu-item-active a,
.ant-menu-horizontal > .ant-menu-item:hover,
.ant-menu-submenu:hover, .ant-menu-item-selected {
  font-weight: 500;
  color: #F97300 !important;
  border-color: #F97300 !important;
} */