#register {
    width: 438px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    color: rgba(78, 78, 78, 0.5);

    margin-left:521px;
}

#link-regis {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    color: #10828C;
}

#register-btn.ant-btn {
    left: 510px;
    width: 67px;
    height: 27px;
    background: transparent !important;
    color: #10828C;
    /* width: 100%; */
    border: transparent;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
}

#register-btn.ant-btn:hover, 
#register-btn.ant-btn:focus, 
#register-btn.ant-btn:active, 
#register-btn.ant-btn.active {
    width: 67px;
    height: 27px;
    left: 510px;
    background: transparent !important;
    color: rgba(78, 78, 78, 0.5);
    /* width: 100%; */
    border: transparent;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
}


#input-displayname {
    width: 398px;
    height: 48px;
/* top: 317px; */
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    border-radius: 5px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.15);
}
