#register-box {
  height: 743px;
}

.register-form input.ant-input {
  height: 46px;
}

.register-form .ant-input-affix-wrapper .ant-input:not(:first-child) {
  padding-left: 50px;
}

.register-form .ant-input-affix-wrapper .ant-input-prefix {
  left: 20px
}

.register-form-button, .register-form-button:hover, .register-form-button:active {
  border-color: transparent;
  color: #10828C;
  padding: 0;
}

button.ant-btn.register-form-button:disabled {
  border-color: transparent;
  background-color: white;
}

.register-form-button span {
  font-weight: bold;
  font-size: 18px;
}

#login-link {
  font-weight: 300;
  color: rgba(78, 78, 78, 0.5);
}

a#link-login {
  margin-left: 10px;
  font-weight: 600;
  color: #10828C;
}