.ant-carousel .slick-slide {
    /* text-align: center;
    height: 160px;
    line-height: 160px; */
    background: #fff;
    overflow: hidden;
}

.ant-carousel .slick-slide h3 {
    color: #fff;
}

h3 {
    text-align: center;
}

button.ant-btn {
    font-size: 14px;
    line-height: 24px;
}

div {
    font-size: 14px;
}

.ant-carousel .slick-dots li button {
    background: #181741;
}

div.ant-col.ant-col-5 {
    height: 140px;
}

.ant-select-selection--single {
    background-color: transparent;
    border-color: transparent;
}

#with.ant-btn:hover, 
#with.ant-btn:focus, 
#with.ant-btn:active, 
#with.ant-btn.active {
    background: linear-gradient(90deg, #FB3640 0%, #F97300 100%) !important;
    color: white;
    width: 100%;
    border: 1px solid #C4C4C4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}


/* span.ant-radio-inner {
    
} */