.ant-row #suggest {
  background: #F8F5E4;
  border-radius: 5px;
}

.bound-btn {
  margin-top: 50px;
}

.bound-btn .ant-btn-lg {
  width: 25%;
}

.suggestion-threads {
  margin: 50px;
}

.suggest-title {
  display: flex
}

.suggest-title p, .suggest-title i, .see-more a {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #0E3047;
}

.suggest-title span {
  font-weight: bold;
}

div.ant-col.ant-col-12.see-more {
  text-align: right;
}

.see-more a {
  font-weight: normal;
  text-decoration-line: underline;
}

.carousel-box {
  margin-top: 25px;
  background: white;
  border-radius: 5px;
}

.thread-card {
  margin: 20px 0px 20px 0px;
}

.thread-card img {
  background: 50% 50% no-repeat;
  width: 100%;
  max-width: 150px;
  height: 150px;
  margin: 0px 20px 0px 20px;
}

.thread-title a {
  font-weight: normal;
  font-size: 14px;
  color: #0E3047;
  text-align: left !important;
  float: left;
}

div.ant-col.ant-col-12.thread-info {
  height: 150px;
  padding-right: 20px;
}

.thread-option {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.ant-col .ant-col-12 #tag {
  text-align: left;
}

.ant-tag {
  background: linear-gradient(90deg, #0E3047 0%, #10828C 100%);
  border-radius: 5px;
  border-color: white;
  color: #FFFFFF;
  padding: 10px;
}

i.anticon.anticon-fire {
  font-size: 20px;
}

i.anticon.anticon-heart, i.anticon.anticon-more {
  color: #10828C;
  font-size: 26px;
  vertical-align: middle;
  display: table-cell;
}

div#icon.ant-col.ant-col-12 {
  margin: auto;
  width: 50%;
}

#icon {
  text-align: right;
  height: 42px;
  display: table;
  width: 100%;
}

.ant-dropdown, .ant-dropdown-menu-item {
  font-family: Poppins;
}

#selectBtn {
  width: 30%;
}

.ant-radio-group {
  width: 100%;
  margin: 30px 0 10px 0;
}

.ant-radio-group span {
  color: #0E3047;
}

.radio-style .ant-radio {
  text-align: -webkit-center;
  display: block;
  height: 30px;
  line-height: 30px;
  width: 220px;
}

.radio-style .ant-radio:before {
  display: block;
  content: '';
  position: relative;
  background: #10828C;
  height: 4px;
  width: 100%;
  bottom: -30%;
}

.radio-style .ant-radio-wrapper {
  margin-right: 0;
  line-height: 30px;
}

.radio-style .ant-radio-wrapper #first {
  text-align: left;
}

.ant-radio-checked .ant-radio-inner  {
  border-color: #10828C;
}

span.ant-radio-inner::after {
  background-color: #10828C;
}