.App {
  text-align: center;
}

.header {
  font-family: 'Poppins', sans-serif;
  height: 64px;
  padding: 0 10px !important;
  line-height: 64px;
  background: linear-gradient(90deg, #0E3047 0%, #10828C 100%) !important;
  position: fixed;
  z-index: 1;
  width: 100%
}

.content {
  font-family: 'Poppins', sans-serif;
  background: white;
}

.footer {
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.container {
  font-family: 'Poppins', sans-serif;
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}