.App {
  text-align: center;
  
}

.ant-layout-header {
  font-family: 'Poppins', sans-serif;
  height: 64px;
  padding: 0 10px !important;
  line-height: 64px;
  background: linear-gradient(90deg, #0E3047 0%, #10828C 100%) !important;
}

.ant-layout-footer {
  font-family: 'Poppins', sans-serif;
}

.container {
  font-family: 'Poppins', sans-serif;
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}